Source: ros-humble-tecgihan-driver
Section: misc
Priority: optional
Maintainer: Shigeru Wakida <s.wakida@tecgihan.co.jp>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-copyright <!nocheck>, ros-humble-ament-flake8 <!nocheck>, ros-humble-ament-pep257 <!nocheck>, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tecgihan-driver
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python-is-python3, python3-serial, ros-humble-geometry-msgs, ros-humble-rclpy, ros-humble-xacro, ros-humble-ros-workspace
Description: Linux and ROS driver software for Tec Gihan sensor amplifiers for robots
